# PyCity Schools Analysis

- Your analysis here:
In general from all 15 schools of the district summary, there are a little more than 39,000 students in total. From all students, 75% passed math and 86% passed reading, but only 65% passed both exams. Therefore, the overall passing in all 15 schools is below 70% by 5%.

8 schools are charter and the other 7 are part of the district. The 3 biggest school that range from 4,500-5,000 students are part of the district; meanwhile, 3 smallest schools are charter that range from 400-1500 students. In addition the district has a lower passing rate than the charter. All 15 schools have about the same budgetting that range from $580-670. From this, it can be concluded that spending of school in each student doesn’t affect the passing, but instead, the school size does affect if students pass or don’t because charter have an overall passing rate of 90.50% while District has an overall passing rate of 53.86%.
---

In [39]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [40]:
# Calculate the total number of unique schools
school_count = school_data_complete.school_name.unique().size
school_count

15

In [41]:
# Calculate the total number of students
student_count = student_data["Student ID"].unique().size
student_count

39170

In [42]:
# Calculate the total budget
total_budget = sum(school_data["budget"].unique())
total_budget

24649428

In [43]:
# Calculate the average (mean) math score
average_math_score = round(sum(student_data["math_score"])/len(student_data))
average_math_score

79

In [44]:
# Calculate the average (mean) reading score
average_reading_score = round(sum(student_data["reading_score"])/len(student_data))
average_reading_score

82

In [45]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = round(passing_math_count / float(student_count) * 100)
passing_math_percentage

75

In [46]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = round(passing_reading_count / float(student_count) * 100)
passing_reading_percentage

86

In [47]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = round(passing_math_reading_count /  float(student_count) * 100)
overall_passing_rate

65

In [49]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Number of Unique Schools":[school_count],
    "Total Number of Students":[student_count], "Total Budget":[total_budget],
    "Average Math Score":[average_math_score], "Average Reading Score":[average_reading_score],
    "% Passing Math":[passing_math_percentage], "% Passing Reading":[passing_reading_percentage],
    "% Overall Passing":[overall_passing_rate]})

# Formatting
district_summary["Total Number of Students"] = district_summary["Total Number of Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame

district_summary

,Total Number of Unique Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79,82,75,86,65

## School Summary

In [50]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [51]:
# Calculate the total student count per school
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts
combined_school_counts = school_data_complete["school_name"].value_counts()
combined_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [52]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [55]:
# Calculate the average test scores per school
per_school_math=round(sum(school_data_complete["math_score"])/len("school_name"))
per_school_math

281260

In [57]:
# Calculate the average test scores per school
per_school_reading=round(sum(school_data_complete["reading_score"])/len("school_name"))
per_school_reading

291560

In [60]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"]
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [62]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).count()["student_name"]
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [106]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [103]:
# Use the provided code to calculate the passing rates
per_school_passing_math = round(school_students_passing_math / per_school_counts * 100)
per_school_passing_math

school_name
Bailey High School       67.0
Cabrera High School      94.0
Figueroa High School     66.0
Ford High School         68.0
Griffin High School      93.0
Hernandez High School    67.0
Holden High School       93.0
Huang High School        66.0
Johnson High School      66.0
Pena High School         95.0
Rodriguez High School    66.0
Shelton High School      94.0
Thomas High School       93.0
Wilson High School       94.0
Wright High School       93.0
dtype: float64

In [104]:
per_school_passing_reading = round(school_students_passing_reading / per_school_counts * 100)
per_school_passing_reading

school_name
Bailey High School       82.0
Cabrera High School      97.0
Figueroa High School     81.0
Ford High School         79.0
Griffin High School      97.0
Hernandez High School    81.0
Holden High School       96.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         96.0
Rodriguez High School    80.0
Shelton High School      96.0
Thomas High School       97.0
Wilson High School       97.0
Wright High School       97.0
dtype: float64

In [105]:
overall_passing_rate = round(school_students_passing_math_and_reading / per_school_counts * 100)
overall_passing_rate

school_name
Bailey High School       55.0
Cabrera High School      91.0
Figueroa High School     53.0
Ford High School         54.0
Griffin High School      91.0
Hernandez High School    54.0
Holden High School       89.0
Huang High School        54.0
Johnson High School      54.0
Pena High School         91.0
Rodriguez High School    53.0
Shelton High School      90.0
Thomas High School       91.0
Wilson High School       91.0
Wright High School       90.0
dtype: float64

In [108]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type":school_types,
    "Total Students":per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget":per_school_capita,
    "Average Math Score":per_school_math,
    "Average Reading Score":per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading":per_school_passing_reading,
    "% Overall Passing":overall_passing_rate})
per_school_summary

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,281260,291560,67.0,82.0,55.0
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,281260,291560,94.0,97.0,91.0
Figueroa High School,District,2949,"$1,884,411.00",$639.00,281260,291560,66.0,81.0,53.0
Ford High School,District,2739,"$1,763,916.00",$644.00,281260,291560,68.0,79.0,54.0
Griffin High School,Charter,1468,"$917,500.00",$625.00,281260,291560,93.0,97.0,91.0
Hernandez High School,District,4635,"$3,022,020.00",$652.00,281260,291560,67.0,81.0,54.0
Holden High School,Charter,427,"$248,087.00",$581.00,281260,291560,93.0,96.0,89.0
Huang High School,District,2917,"$1,910,635.00",$655.00,281260,291560,66.0,81.0,54.0
Johnson High School,District,4761,"$3,094,650.00",$650.00,281260,291560,66.0,81.0,54.0
Pena High School,Charter,962,"$585,858.00",$609.00,281260,291560,95.0,96.0,91.0
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,281260,291560,66.0,80.0,53.0
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,281260,291560,94.0,96.0,90.0
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,281260,291560,93.0,97.0,91.0
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,281260,291560,94.0,97.0,91.0
Wright High School,Charter,1800,"$1,049,400.00",$583.00,281260,291560,93.0,97.0,90.0

## Highest-Performing Schools (by % Overall Passing)

In [114]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,281260,291560,94.0,97.0,91.0
Griffin High School,Charter,1468,"$917,500.00",$625.00,281260,291560,93.0,97.0,91.0
Pena High School,Charter,962,"$585,858.00",$609.00,281260,291560,95.0,96.0,91.0
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,281260,291560,93.0,97.0,91.0
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,281260,291560,94.0,97.0,91.0

## Bottom Performing Schools (By % Overall Passing)

In [115]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =  per_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Figueroa High School,District,2949,"$1,884,411.00",$639.00,281260,291560,66.0,81.0,53.0
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,281260,291560,66.0,80.0,53.0
Ford High School,District,2739,"$1,763,916.00",$644.00,281260,291560,68.0,79.0,54.0
Hernandez High School,District,4635,"$3,022,020.00",$652.00,281260,291560,67.0,81.0,54.0
Huang High School,District,2917,"$1,910,635.00",$655.00,281260,291560,66.0,81.0,54.0

## Math Scores by Grade

In [128]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"]).count()["math_score"]
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).count()["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).count()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).count()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
        "9th": ninth_grade_math_scores, 
        "10th": tenth_grader_math_scores,
        "11th": eleventh_grader_math_scores, 
        "12th": twelfth_grader_math_scores })

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     1458  1239  1251  1028
Cabrera High School     528   466   482   382
Figueroa High School    856   763   709   621
Ford High School        833   708   659   539
Griffin High School     409   406   361   292
Hernandez High School  1382  1227  1088   938
Holden High School      127   114   103    83
Huang High School       844   767   721   585
Johnson High School    1400  1227  1198   936
Pena High School        275   250   256   181
Rodriguez High School  1164  1040  1006   789
Shelton High School     530   448   412   371
Thomas High School      461   421   415   338
Wilson High School      631   606   599   447
Wright High School      510   486   435   369

## Reading Score by Grade

In [130]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby(["school_name"]).count()["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).count()["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).count()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).count()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
        "9th": ninth_grader_reading_scores, 
        "10th": tenth_grader_reading_scores,
        "11th": eleventh_grader_reading_scores, 
        "12th": twelfth_grader_reading_scores })

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     1458  1239  1251  1028
Cabrera High School     528   466   482   382
Figueroa High School    856   763   709   621
Ford High School        833   708   659   539
Griffin High School     409   406   361   292
Hernandez High School  1382  1227  1088   938
Holden High School      127   114   103    83
Huang High School       844   767   721   585
Johnson High School    1400  1227  1198   936
Pena High School        275   250   256   181
Rodriguez High School  1164  1040  1006   789
Shelton High School     530   448   412   371
Thomas High School      461   421   415   338
Wilson High School      631   606   599   447
Wright High School      510   486   435   369

## Scores by School Spending

In [131]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [132]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [136]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, right=False)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,281260,291560,67.0,82.0,55.0,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,281260,291560,94.0,97.0,91.0,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,281260,291560,66.0,81.0,53.0,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,281260,291560,68.0,79.0,54.0,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,281260,291560,93.0,97.0,91.0,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,281260,291560,67.0,81.0,54.0,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,281260,291560,93.0,96.0,89.0,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,281260,291560,66.0,81.0,54.0,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,281260,291560,66.0,81.0,54.0,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,281260,291560,95.0,96.0,91.0,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,281260,291560,66.0,80.0,53.0,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,281260,291560,94.0,96.0,90.0,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,281260,291560,93.0,97.0,91.0,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,281260,291560,94.0,97.0,91.0,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,281260,291560,93.0,97.0,90.0,<$585

In [140]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [141]:
# Assemble into DataFrame
spending_summary = spending_summary = pd.DataFrame({
        "Average Math Score" : spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,281260.0,291560.0,93.500000,96.75,90.25
$585-630,281260.0,291560.0,87.250000,92.75,81.75
$630-645,281260.0,291560.0,73.250000,84.25,62.75
$645-680,281260.0,291560.0,66.333333,81.00,54.00

## Scores by School Size

In [142]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [144]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(combined_school_counts, size_bins, labels=labels, right=False)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,281260,291560,67.0,82.0,55.0,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,281260,291560,94.0,97.0,91.0,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,281260,291560,66.0,81.0,53.0,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,281260,291560,68.0,79.0,54.0,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,281260,291560,93.0,97.0,91.0,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,281260,291560,67.0,81.0,54.0,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,281260,291560,93.0,96.0,89.0,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,281260,291560,66.0,81.0,54.0,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,281260,291560,66.0,81.0,54.0,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,281260,291560,95.0,96.0,91.0,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,281260,291560,66.0,80.0,53.0,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,281260,291560,94.0,96.0,90.0,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,281260,291560,93.0,97.0,91.0,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,281260,291560,94.0,97.0,91.0,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,281260,291560,93.0,97.0,90.0,Medium (1000-2000)

In [145]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [146]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
        "Average Math Score" : size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% Passing Math": size_passing_math,
        "% Passing Reading": size_passing_reading,
        "% Overall Passing": size_overall_passing})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),281260.0,291560.0,94.0,96.00,90.0
Medium (1000-2000),281260.0,291560.0,93.4,96.80,90.6
Large (2000-5000),281260.0,291560.0,70.0,82.75,58.5

## Scores by School Type

In [148]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [149]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score" : average_math_score_by_type,
"Average Reading Score" : average_reading_score_by_type, 
"% Passing Math" : average_percent_passing_math_by_type,
"% Passing Reading" : average_percent_passing_reading_by_type,
"% Overall Passing" : average_percent_overall_passing_by_type})


# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,281260.0,291560.0,93.625000,96.625000,90.500000
District,281260.0,291560.0,66.571429,80.714286,53.857143